body{
    color: blue;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-color: #dedede;
    margin: 0;
    padding: 0;
}

#cabecera{
    background:#33A;
    box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, .75);
    font-weight: bold;
    color: white;
    margin: 0;
    padding: 0.5em;
}

#container{
    width: 70%;
    background-color: white;
    padding: 0;
    text-align: left;
    margin: 0 auto;
}

#posts{
    padding: 1em;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#post{
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, .50);
    border-radius: 1em;
    width: 250px;
    margin-bottom: 16px;
    padding: .8em;
}

#post h1{
    background-color: #ddd;
    padding: .5em;
    text-align: center;
    border-radius: 5px;
}

#post p{
    text-align: justify;
}

#leer_mas{
    color:deeppink;
    display: block;
    text-align: right;
}

#footer{
    background-color: #33a;
    color: white;
    text-align: center;
    padding: 1em;
}

#footer a{
    text-decoration: none;
    color: white;
}